<%
metamagic title: 'Контактные данные и форма обратной связи', description: 'Данные для связи с администрацией AniTour.com'
%>
<section id="coca-breadcrumb">
  <div id="coca-breadcrumb-wrap" class="container">
    <div id="breadcrumb" class="row">
        <h1 class="page-title">Контактные данные и форма обратной связи </h1>
      </div>
    </div>
  </div>
</section>
<section class="white">
  <div id="contact_page">
    <div class="contact_description_header">

    <div class="contact_logo"> </div>
    </div>

    <div class="contact_form" >
	<%- model_class = Question -%>
	  <div class="page-header">
	    <h3>Форма связи </h3>
	  </div>
	<%= render :partial => 'form' %>
    </div>
  </div>
</section>