<%
metamagic title: 'Создание нового тура'
%>
<section id="coca-breadcrumb">
  <div id="coca-breadcrumb-wrap" class="container">
    <div id="breadcrumb" class="row">
        <h1 class="page-title">Создание нового тура</h1>
    </div>
  </div>
</section>

<%= render 'form' %>

