<%
metamagic title: 'Изменение категории блога статей'+@blog.title
%>
<section id="coca-breadcrumb">
  <div id="coca-breadcrumb-wrap" class="container">
    <div id="breadcrumb" class="row">
        <h1 class="page-title">Изменение категории - <%= @blog.title %></h1>
      </div>
    </div>
  </div>
</section>

<%= render 'form' %>

