<%
metamagic title: 'Создание новой категории в блоге'
%>
<section id="coca-breadcrumb">
  <div id="coca-breadcrumb-wrap" class="container">
    <div id="breadcrumb" class="row">
        <h1 class="page-title">Создание новой категории</h1>
      </div>
    </div>
  </div>
</section>

<%= render 'form' %>

