<%
metamagic title: 'Управление служебными станицами'
%>
<section id="coca-breadcrumb">
  <div id="coca-breadcrumb-wrap" class="container">
    <div id="breadcrumb" class="row">
        <h1 class="page-title">Управление служебными страницами</h1>
      </div>
    </div>
  </div>
</section>
<section class="white">

<div id="admin_page_table_wrap_5">
  <div class="panel panel-default">
    <div class="panel-body admin_tools_top">
      <i class="fa fa-cogs menu_item_icon"></i>
      <%= link_to '', new_page_path, class: 'btn btn-success fa fa-plus fa-2 right', style: 'color: black; font-size: 20px;' %>
    </div>
  </div>
<table class="bordered">
  <thead>
    <tr>
      <th>Заголовок</th>
      <th>В футуре</th>
      <th>Публичность</th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>
    <% @pages.each do |page| %>
      <tr>
        <td><%= link_to page.rus_title, page %></td>
        <td width="100" class="center">
          <% if page.footer == true %>
            <i class="fa fa-check" style="color: #009B18; font-size: 19px;"></i>
          <% else %>
            <i class="fa fa-times" style="color: #9B1B00; font-size: 19px;"></i>
          <% end %>
        </td>
        <td width="100" class="center">
          <% if page.published? %>
            <i class="fa fa-check" style="color: #009B18; font-size: 19px;"></i>
          <% else %>
            <i class="fa fa-times" style="color: #9B1B00; font-size: 19px;"></i>
          <% end%>
        </td>
        <td width="100" class="center"><%= link_to '', edit_page_path(page), class: 'btn btn-primary fa fa-pencil fa-2 center admin_pages_buttons' %></td>
        <td width="100" class="center"><%= link_to '', page, method: :delete, data: { confirm: 'Точно удалить?' }, class: 'btn btn-danger fa fa-trash-o admin_pages_buttons' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</section>