<%
metamagic title: 'Создание новой служебной страницы'
%>
<section id="coca-breadcrumb">
  <div id="coca-breadcrumb-wrap" class="container">
    <div id="breadcrumb" class="row">
        <h1 class="page-title">Создание новой служебной страницы</h1>
      </div>
    </div>
  </div>
</section>
<%= tinymce %>
<%= render 'form' %>


