<section id="coca-breadcrumb">
          <div id="coca-breadcrumb-wrap" class="container">
            <div id="breadcrumb" class="row">
              <div class="col-lg-6 col-md-6 col-sm-6">
                <h3 class="page-title"><%= @page.title %></h3>
              </div>
              </div>
            </div>
          </div>
        </section>

  <strong>Body:</strong>
  <%=raw @page.body %>

<% if can? :update, @page %>
<%= link_to 'Edit', edit_page_path(@page) %> |
<%= link_to 'Back', pages_path %>
<% end %>
