<%
metamagic title: 'Изменение категории туров - '+@category.name
%>
<section id="coca-breadcrumb">
  <div id="coca-breadcrumb-wrap" class="container">
    <div id="breadcrumb" class="row">
        <h1 class="page-title">Изменение категории туров - <%= @category.name %></h1>
      </div>
    </div>
  </div>
</section>

<%= render 'form' %>

